

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dae6ee;
    overflow-x: hidden;
}

.navv {
    background-color: #97CAE7;
}

.scent {
font-family:"Bebas Neue", sans-serif;
font-size: 20px;
color: #020415 !important;
letter-spacing: 3px !important;
}

.liist {
    font-family: "teko", serif;
}

.liist2 {
    color: #020415 !important;
}

.liist2:hover {
    color: white !important;
}


.container1 {
    position: relative;
}

#img1 {
    width: 100%;
    height: 70vh;
    opacity: 0.7;
}

.texton {
    position: absolute;
    top:  8px;
    left: 16px;
}

.h1 {
    font-family:  "Bebas Neue", sans-serif;
    color: #020415 !important;
    line-height: 90%;
    letter-spacing: 8px !important;
}

.p1  {
    font-weight: bold;
    font-family: "teko", serif;
    font-size: 30px;
    color: #020415;
    line-height: 90%;
    letter-spacing: 5px;
}

.bttn {
    font-family: "teko" serif
}


.shoph {
    background-color: #020415;
    width: 100%;
    height: 50px;
    color: #FCFEFF;
    padding-top: 15px;
    letter-spacing: 3px;
    font-family: "Bebas Neue", sans-serif;
}

.items {
    border: 1px solid transparent;
    background-color: #F2F5F5;
    height: auto;
}

.shop2 {
    font-family: "teko", serif;
    letter-spacing: 3px;
    margin-top: 3px;
    margin-left: 20px;
    color: #000;
}

#img2 {
    width: 100%;
    height: 15vh;
}

.height {
    height: 70vh !important;
}

.imgheight {
    height: 50vh !important;
    width: 100% !important;
}


.long {
    font-family: "teko" serif;
    color: #020415;
    letter-spacing: 4px;
}

.grid1 {
    display: grid;
    grid-template-columns: 95%;
    align-items: center;
}

.gift {
    font-family: "teko" serif;
    color: #020415;
}

.comment {
    font-family: "teko" serif;
    color: #020415;
}

.divimg2 {
    margin-top: 10px;
    height: 400px;
    overflow-y: hidden;
}

.divimg2 img {
    width: 100%;
    height: inherit;
    position: relative;
    top: -300px;
    z-index: -1;
}

.hex {
     width: 100%;
     height: 50vh;
     opacity: 0.65;
}

.hex:hover {
    border: 1px solid black;
    opacity: 0.8;
}

.h1b2 {
    font-family:  "Bebas Neue", sans-serif;
    color: #020415 !important;
    letter-spacing: 3px !important;
}

.p12  {
    font-weight: bold;
    font-family: "teko", serif;
    font-size: 30px;
    color: #020415;
    text-align: center;
    margin-top: -20px;
}


.form-control {
    border-radius: 0;
  }

  textarea {
    resize: none;
    width: 100%;
  }

  #map {
    width: 100%;
    height: 400px;
    border:0;
  }

  footer {
    background-color: #020415;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  

@media screen and (min-width:990px) {

    .grid1 {
        grid-template-columns: 45% 45%;
        grid-column-gap: 100px;
    }

    .center1 {
        padding-top: 80px;
        margin-left: 280px;
    }
    
}